/* ------------------------------------------------------------ *\
	bar
\* ------------------------------------------------------------ */

.bar {
	h6 {
		font-size: 1.8rem;
		margin-bottom: .5rem;
	}

	.bar__range {
		padding: .1rem;
		background-color: #DEE3EF;
		border-radius: 1.4rem;
	}

	.bar__score {
		position: relative;
		background-color: var(--c-orange);
		border-radius: 1.4rem;
		height: .8rem;
	}

	.bar__label {
		position: absolute;
		top: -5rem;
		right: 1rem;
		border-radius: .4rem;
		background-color: var(--c-orange);
		color: var(--c-white);
		min-width: 4rem;
		padding: .6rem;
		font-size: 1.4rem;
		font-weight: 700;
	}

	.bar__label:before {
		content: '';
		display: inline-block;
		position: absolute;
		top: 99%;
		left: 50%;
		transform: translateX(-50%);
		width: .9rem;
		height: .8rem;
		background-image: url('../assets/images/svg/triangle.svg');
	}
}
