/* ------------------------------------------------------------ *\
	count
\* ------------------------------------------------------------ */

.count {
	font-family: var(--f-family-heebo);
	font-size: 3rem;
	color: #333333;
	font-weight: 500;

	.count__number {
		font-size: 8rem;
		color: var(--c-white);
		line-height: 1;
		background-size: cover;
		background-clip: text;
		text-shadow: 2px 2px 0 var(--c-orange), -2px -2px 0 var(--c-orange), 2px -2px 0 var(--c-orange),
		-2px 2px 0 var(--c-orange), 2px 2px 0 var(--c-orange);
	}
}
