/* ------------------------------------------------------------ *\
	ico-wrapper
\* ------------------------------------------------------------ */

.ico-wrapper {
	display: inline-flex;
	width: 9.3rem;
	height: 9.3rem;
	border-radius: 100%;
	justify-content: center;
	align-items: center;
	background-color: var(--c-green);
}

/*
	ico wrapper with orange background
*/
.ico-wrapper--orange {
	background-color: var(--c-orange);
}

/* ico wrapper small */
.ico-wrapper--small {
	width: 7.1rem;
	height: 7.1rem;
}
