/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
	display: inline-block;
	width: 100%;
	max-width: 15.7rem;

	img {
		width: 100%;
	}
}
