/* ------------------------------------------------------------ *\
	section-primary
\* ------------------------------------------------------------ */

.section-primary {
	background-color: var(--c-white);
	padding: 5rem 0;

	 .section__head {
		max-width: 53rem;
		margin-bottom: 8rem;
	}

	 .section__head h5 {
		color: var(--c-orange);
		margin-bottom: 1rem;
	}

	 .section__wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10rem;
	}
}
