// ==========================================================================
// Variables
// ==========================================================================

:root {
	--fz-html: 62.5%;
	--fz-base: 1.6rem;
	--fw-base: 400;
	--lh-base: 1.2;
	--c-base: #000;
	--c-white:  #fff;
	--c-black:  #000;
	--c-grey:  #636363;
	--c-light-blue:  #DEE3EF;
	--c-blue:  #000248;
	--c-dark:  #222222;
	--c-orange:  #EE5F38;
	--c-green:  #48CDA0;
	--c-pink:  #EDBCDC;
	--t-duration: .4s;
	 --f-family-heebo: "Heebo", sans-serif;
	 --f-family-rubik: "Rubik", sans-serif;
}

$breakpoints: (
	mobile-small: 374px,
	mobile: 767px,
	tablet: 1023px,
	small-desktop: 1199px,
);
