<!-- Your footer goes here -->
<footer class="footer">
	<div class="shell">
		<div class="footer__inner">
			<ul class="footer__nav">
				<li>
					<a href="#">Home</a>
				</li>

				<li>
					<a href="#">Service</a>
				</li>

				<li>
					<a href="#">About me</a>
				</li>

				<li>
					<a href="#">Resume</a>
				</li>

				<li>
					<a href="#">Projects</a>
				</li>

				<li>
					<a href="#">Contact me</a>
				</li>
			</ul><!-- /.footer__nav -->

			<div class="footer__aside">
				<div class="socials socials--adjust">
					<ul>
						<li>
							<a href="https://www.linkedin.com/in/doychin-darakchiev-7ab739205/" target="_blank">
								<img src="assets/images/svg/linkedin-in.svg" alt="" width="25">
							</a>
						</li>

						<li>
							<a href="https://github.com/Doychin94" target="_blank">
								<img src="assets/images/svg/github.svg" alt="" width="25">
							</a>
						</li>

						<li>
							<a href="mailto:docho9497@gmail.com" target="_blank">
								<img src="assets/images/svg/mail.svg" alt="" width="25">
							</a>
						</li>
					</ul>
				</div><!-- /.socials -->
			</div><!-- /.footer__aside -->
		</div><!-- /.footer__inner -->
	</div><!-- /.shell -->
</footer><!-- /.footer -->
