<header class="header js-header">
	<div class="shell header__shell">
		<div class="header__inner">
			<a href="#" class="logo">
				<img src="assets/images/logo.png" alt="" width="157" height="50">
			</a>

			<div class="header__aside">
				<div class="header__menu">
					<nav class="nav">
						<ul>
							<li class="is-current">
								<a href="#">Home</a>
							</li>

							<li>
								<a href="#">Service</a>
							</li>

							<li>
								<a href="#">About me</a>
							</li>

							<li>
								<a href="#">Resume</a>
							</li>

							<li>
								<a href="#">Projects</a>
							</li>

							<li>
								<a href="#">Contact me</a>
							</li>
						</ul>
					</nav><!-- /.nav -->
				</div><!-- /.header__menu -->

				<a href="#" class="btn btn--ico header__btn">
					<i>
						<img src="assets/images/svg/download-ico.svg" alt="" width="30" height="30">
					</i>

					<span>Download CV</span>
				</a>
			</div><!-- /.header__aside -->
		</div><!-- /.header__inner -->
	</div><!-- /.shell -->
</header><!-- /.header -->
